body {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

.score_list {
  border: 1px solid black;
}

#two {
  display: flex;
  flex-direction: column;
}

button {
  align-self: flex-end;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: -39px;
}

li:nth-child(even) {
  background: lightgray;
}

.score_list,
button {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
